
# 模型配置
OPENAI_API_KEY=your-api-key-here
# OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_BASE_URL=https://api-inference.modelscope.cn/v1
MODEL_NAME=moonshotai/Kimi-K2-Instruct

# 模型参数
TEMPERATURE=0.7
MAX_TOKENS=2000

# 默认练习配置
DEFAULT_GRADE=二年级             # 年级
DEFAULT_THEME=random            # 短文主题
DEFAULT_EXERCISE_LENGTH=100     # 每篇练习的字数
DEFAULT_ERROR_COUNT=2           # 每篇练习的错误数量
DEFAULT_EXERCISE_COUNT=5        # 要生成的练习篇数
DEFAULT_MODE=misspelling        # 练习模式 错别字纠错模式: misspelling, 用词不当纠错模式: word_usage
